.heading{
    font-size: 40px;
}

html{
    scroll-behavior: smooth;
}

.subheading{
    color: #192537;
    font-size: 25px;
    font-weight: 800;
    border: none;
    padding: 10px 15px;
    border-radius: 500px;
}


.subheading-container{
    display: inline;
    font-size: 25px;
    font-weight: 800;
    border: none;
    padding: 10px 15px;
    border-radius: 500px;
    background-color: #e9e9e9;  
}

.subheading-container img{
    height: 15px;
}

.subheading-container a{
    text-decoration: none;
    color: #192537;
}

.allreasons-container{
    margin-top: 50px;
    text-align: left;
}

.reason-heading{
    font-size: 27px;
    text-decoration: underline;
}

.reason-footnote a{
    text-decoration: none;
    color: #192537;
    background-color: #e9e9e9;
    padding: 0px 8px;
    border-radius:60px ;
}